.container_principal_section{
    height: 40vh;
    border: 2px solid blue;
    justify-content: center;
    display: flex;
    align-items: center;
}

.title_principal_section{
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
        display:flex;
        justify-content:center;
        align-items:center
}

.subtitle_principal_section{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}