.main{
    padding: 1rem 4rem 1rem 5rem;
    background-image: linear-gradient(#02294F, #090E10);
    -webkit-background-size: 100% 20%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

