.navbar_container {
    border: 2px solid blue;
    height: 3rem;
    border-radius: 2rem;
    width: 100%;
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;
    background-color: #7190ac;
    color: white;
    grid-template-columns: 12% 65%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.navbar_item_text {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    gap: 2rem;
    ;
}